  .tabs-container {
    width: 100%;
    margin-top: 2rem;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #ffff;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .tab.active {
    background-color: #dce2eb;
    color: #151635;
  }
  
  .tab-content {
    padding: 20px;
    background-color: #fff;
    border: none;
  }
  
  @media (max-width: 768px) {
    .tabs {
      flex-direction: column;
    }
  
    .tab {
      margin-bottom: 5px;
    }
  }
  