.valorEntregadas{
    margin-top: 10px;
    font-size: 2rem;
    color: #2d7f33;
    margin-bottom: 0;
}

.valorPendientes{
    margin-top: 10px;
    font-size: 2rem;
    color: #0d6efd;
    margin-bottom: 0;
}

.valorCanceladas{
    margin-top: 10px;
    font-size: 2rem;
    color: #dc3545;
    margin-bottom: 0;
}

.contenedorTarjeta{
    padding: 0%;
    /* background: rgba(255, 255, 255, 0.7) !important; */
}

@keyframes striped-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 0;
  }
}
