.table-wrapper {
    overflow-x: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-bordered {
    border-top: 0.1px solid rgba(255, 255, 255, 0.514)  !important;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table th,
.table td {
    padding: 0.4rem !important;
    vertical-align: middle;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 0.95rem;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.15)  !important;
    background-color: rgb(248 249 250);
    color: rgb(47, 55, 70);
    align-items: center;
}

.table tbody+tbody {
    border-top: 0.1px solid rgba(255, 255, 255, 0.15)  !important;
}

.title {
    color: #201c47;
}

.center {
    text-align: center;
}


